.footer {
  .overlay {
    visibility: hidden;
    display: block;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__rules {
    height: 150px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      visibility: hidden;
    }

    @include breakpoint-up(large) {
      position: absolute;
      height: 102px;
      width: 190px;
      bottom: 0px;
      right: 0px;

      h1 {
        visibility: visible;
        position: absolute;
        top: 29px;
        left: 40px;
      }
    }
  }

  &__button {
    button {
      width: 130px;
      height: 42px;
      background-color: transparent;
      cursor: pointer;
      border-radius: 10px;
      border: 2px solid $white;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.3px;
    }
  }

  &__modal {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 15px;

    @include breakpoint-up(large) {
      position: fixed;
      width: 400px;
      height: 450px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .rules {
      position: absolute;
      background-image: url(../../images/image-rules-bonus.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 300px;
      width: 100%;

      top: 50%;
      transform: translateY(-50%);

      @include breakpoint-up(large) {
        min-height: 300px;
        transform: translateY(-40%);
      }
    }

    #close-modal-btn {
      position: absolute;
      right: calc(50% - 26px);
      top: 90%;
      padding: 8px;

      @include breakpoint-up(large) {
        top: 40px;
        right: 40px;
      }

      &:hover {
        > span {
          background-color: $hoverLightGrey;
        }
      }

      > span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: $lightGrey;
        transform-origin: 11px 1px;

        &:first-child {
          transform: rotate(45deg);
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
