.game {
  height: calc(100vh - 160px - 150px);
  border: 1px solid red;

  display: flex;
  align-items: center;
  justify-content: center;

  &__pentagon {
    background-image: url("../../images/bg-pentagon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 210px; //*
    width: 210px;
    margin: auto;
  }

  &__button {
    width: 99px;
    height: 99px;
    border-radius: 50%;

    overflow: hidden;

    .circle-border {
      min-width: 100px;
      min-height: 100px;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .circle {
      height: 75px;
      width: 75px;
      background-color: $white;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: inset 3px 3px 4px #000;
    }

    /* .circle:hover {
      box-shadow: inset 3px 3px 4px #000;
    } */

    img {
      width: 40px;
    }
  }

  &__scissor {
    position: relative;
    top: -60px;
    left: 50px;
    .circle-border {
      background: $scissorsGradient;
    }
  }

  &__paper {
    position: relative;
    top: -80px;
    left: 160px;
    .circle-border {
      background: $paperGradient;
    }
  }

  &__rock {
    position: relative;
    top: -65px;
    left: 115px;
    .circle-border {
      background: $rockGradient;
    }
  }

  &__lizard {
    position: relative;
    top: -160px;
    left: -25px;
    .circle-border {
      background: $lizardGradient;
    }
  }

  &__spock {
    position: relative;
    top: -375px;
    left: -55px;
    .circle-border {
      background: $cyan;
    }
  }
}
