.header {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 160px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid green;

  @include breakpoint-down(medium) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include breakpoint-up(large) {
    height: 246px;
  }

  &__scoreboard {
    position: relative;
    height: 100px;
    width: 100%;
    border: 2px solid $headerOutline;
    border-radius: 5px;

    display: grid;
    padding: 0 11px 0 22px;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-up(large) {
      height: 152px;
    }
  }

  &__title {
    display: flex;
    font-size: 12px;
    line-height: 0.9;
    color: $white;

    .title {
      margin: auto 0;
    }
  }

  &__score {
    display: flex;
    justify-content: flex-end;

    .score {
      width: 82px;
      height: 72px;
      margin: auto 0;
      background-color: $white;
      border-radius: 5px;
      text-align: center;
    }

    .score h3 {
      padding-top: 13px;
      font-size: 10px;
      line-height: 0.8;
      letter-spacing: 1px;
      color: $scoreText;
    }

    .score h1 {
      font-size: 35px;
      color: $darkText;
    }
  }
}
